$engage-icon-font-path:        "../fonts" !default;
$engage-icon-font-size-base:   14px !default;
$engage-icon-css-prefix:       engage-icon-icon !default;
$engage-icon-background-color: #eee !default;
$engage-icon-li-width:         (30em / 14) !default;
$engage-icon-padding-width:    (1em/3) !default;
